{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item_list.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ item_list.name }}</h1>
            <p><a href="{% url 'edit_todo_list' item_list.id %}">Edit</a></p>
            <p><a href="{% url 'delete_todo_list' item_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in item_list.items.all %}
                    <tr>
                        <td><a href="{% url 'edit_todo_item' tasks.id %}">{{ tasks.task }}</a></td>
                        <td>{{ tasks.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>


</html>
